[submodule "mrquincle"]
	path = mrquincle
	url = https://github.com/mrquincle/aim_modules
[submodule "time_series"]
	path = time_series
	url = https://github.com/rvlasveld/aim_modules
[submodule "vliedel"]
	path = vliedel
	url = https://github.com/vliedel/aim_modules
[submodule "marciwi"]
	path = marciwi
	url = https://github.com/marciwi/aim_modules
